.navbar {
    background-color: blue;
    display: flex;
    justify-content: center;
}

.navbar a {
    color: white;
    text-decoration: none;
    padding: 15px 20px;
}

.navbar a:hover {
    background-color: darkblue;
}

.image-container {
    position: relative;
    width: 390px;
}

.image-container img {
    width: 390%;
    height: auto;
}

.text {
    position: absolute;
    top: 40%;
    left: 40%;
    transform: translate(-40%, -40%);
    color: black;
    font-size: 30px;
    font-weight: bold;
}
.priya {
     margin-top: 10px;
    font-size: 16px;
}
.box {

  background-color: white;
    padding: 10px;
    width: 33%;
}
.highlights {
            padding: 80px 50px;
            background: white;
        }

        .highlights-content {
            max-width: 1400px;
            margin: 0 auto;
        }

        .highlights h2 {
            font-size: 42px;
            margin-bottom: 40px;
            color: black;
        }

        .highlight-grid {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 30px;
        }

        .highlight-card {
            background: white;
            border-radius: 10px;
            overflow: hidden;
            box-shadow: 0 2px 10px lightgray;
        }

        .highlight-image {
            width: 100%;
            height: 200px;
            background: lightgray;
        }

        .highlight-text {
            padding: 20px;
        }

        .highlight-tag {
            background: lavender;
            color: royalblue;
            padding: 5px 15px;
            border-radius: 20px;
            display: inline-block;
            font-size: 12px;
            margin-bottom: 10px;
        }

        .highlight-text h3 {
            font-size: 18px;
            margin-bottom: 10px;
            color: black;
        }

        .highlight-text p {
            font-size: 14px;
            color: gray;
            margin-bottom: 5px;
        }

            footer {
            background: black;
            padding: 60px 50px;
            border-top: 1px solid lightgray;
        }

        .footer-content {
            max-width: 1400px;
            margin: 0 auto;
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: 40px;
        }

        .footer-column h3 {
            font-size: 18px;
            margin-bottom: 20px;
            color: whitesmoke;
        }

        .footer-column ul {
            list-style: none;
        }

        .footer-column ul li {
            margin-bottom: 10px;
        }

        .footer-column ul li a {
            text-decoration: none;
            color: white;
            font-size: 14px;
        }
        .footer-bottom {
            margin-inline: 40px;
            text-align: center;
            color: white;
        }
    

